@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  /* --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%); */
  --gradient-text: linear-gradient(89.97deg, #1ED94F 1.24%, #F2F047 50.67%,#ffffff 140.67%);
  --gradient-bar: linear-gradient(89.97deg, #1ED94F 1.24%, #F2F047 50.67%,#ffffff 140.67%);
  
  --color-bg: #040C18;
  --color-footer : rgba(3, 27, 52,0.4);
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}
@font-face {
  font-family: "foul_fiend";
  src: local("foul_fiend"),
    url(./fonts/foul_fiend-webfont.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Chemical-Machines";
  src: local("Chemical-Machines"),
    url(./fonts/Chemical-Machines.woff2) format("woff2");
}